# exclude everything
/data/process_data/*
/data/raw_data/*
/results_folder/info_dir/*
/__pycache__/
/.ipynb_checkpoints/*

# exception to the rule
!/data/raw_data/.gitkeep.txt
!/results_folder/info_dir/best_predictors.csv
!/results_folder/info_dir/test_predictors.csv
!/results_folder/info_dir/cells_selection.csv